* {
  -webkit-transition: 1s all ease-in-out;
  -moz-transition: 1s all ease-in-out;
  -ms-transition: 1s all ease-in-out;
  -o-transition: 1s all ease-in-out;
  transition: 1s all ease-in-out;
}


html {
  height:100vh;
  width:100%;
  overflow:hidden;
}

body {
  margin:0;
  height:100vh;
  font-family:'Open Sans', sans-serif; 
}


div.hr {
  color:black;
  background: black; 
  width: 20%; 
  height: 1px;
  margin-left:39%;
  margin-top:-46vh;
 
} 

.hello{
  font-size:300px; 
  text-transform:uppercase;
  font-weight:800;
  letter-spacing:-5px;
  position:absolute;
  top:-160px;
  width:100%;
  text-align:center;
    width:100%;
}
.world{
  padding-left:20px;
  font-size:320px;
  font-weight:300;
  letter-spacing:30px;
  position:absolute;
  bottom:-150px;
  text-align:center;
    width:100%;
 
}
.by{
  font-size:15px;
  font-weight:300;
  letter-spacing:15px;
  position:absolute;
  width:100%;
  text-align:center;
  line-height:100vh;
    width:100%;
}


a, a :visited, a:hover {
  
  text-decoration:none;
  color:black;
}


@media only screen and (max-width: 990px), screen and (max-height: 400px) {
        
 .hello
  {
   font-size:100px;
   top:-60px;

 }

.world {

  font-size:100px;
  bottom:-50px;
 
}
        
        

    }
        






  
  

