@import url(http://fonts.googleapis.com/css?family=Rokkitt:700);

* {
  -webkit-transition: 1s all ease-in-out;
  -moz-transition: 1s all ease-in-out;
  -ms-transition: 1s all ease-in-out;
  -o-transition: 1s all ease-in-out;
  transition: 1s all ease-in-out;
}



body{
  text-align: center;
  background: 
  linear-gradient(135deg, white 25%, transparent 25%) -50px 0,
  linear-gradient(225deg, white 25%, transparent 25%) -50px 0,
  linear-gradient(315deg, white 25%, transparent 25%),
  linear-gradient(45deg, white 25%, transparent 25%);	
  background-size: 100px 100px;
  background-color: #86C67C;
}

h1 {
  font-family: 'Rokkitt', serif;
  color:#FFFAFA;
  font-size: 100px;
  line-height: 90%;
}

a {
  text-decoration: none;
  font-family: Arial;
  color:#FFFAFA;
}

a:hover {
  font-family: Arial;
  color:#86C67C;
}

div {
  position: absolute;
  top: 0;
  left: 10%;
  background-color: black;
  padding: 50px;
}

/*Media query for smart phones (portrait and landscape)*/

@media screen 
    and (max-width: 480px)
    and (min-device-width: 320px){
    body {
        background-color: lightblue;
        margin: 0;
    }

        h1 {
  font-family: 'Rokkitt', serif;
  color:#FFFAFA;
  font-size: 50px;
  line-height: 90%;
}
 
        a {
  text-decoration: none;
  font-family: Arial;
  color:#FFFAFA;
}

a:hover {
  font-family: Arial;
  color:lightblue;
}
        
        div {
  position: relative;
  top: 0;
  margin-left: auto;
  margin-right: auto;
  background-color: black;
  padding: 50px;
width: 150px;
left: 0;
}

}

